html {
  background-color: #222;
}

#root {
  background-color: #222;
}

.App {
  background-color: #222;
  padding-top: 20px;
}

.App-header {
  background-color: #222;
  color: #b30000;
  font-family: "Barrio", cursive;
}

.cell {
  height: 10px;
  width: 10px;
  border: 1px solid grey;
  display: inline-block;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.cell.alive {
  background-color: #b3b300;
}

.cell.dead {
  background-color: black;
}

.board-row {
  height: 12px;
}

.play-button {
  width: 600px;
}
